    
#typeName,#typePhone,#typeEmail,#typeMessage {
    margin: 10px;
}
#typeSubmit {
    /* font-size: small; */
}
.form-outline {
    background-color: white;
}


.quick-enquiry-form {
    display: inline-block;
    width: 500px;
}

@media only screen and (max-width: 600px) {
    .quick-enquiry-form {
        width: 350px;
    }
  }


@media only screen and (max-width: 450px) {
.quick-enquiry-form {
    width: 300px;
}
}

@media only screen and (max-width: 350px) {
.quick-enquiry-form {
    width: 200px;
}
}

@media screen and (max-width: 425px) {
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:60px ;
    }
    .contact div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
    }
  
.contact_form {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}
.address{
    font-size: 12px;
}
    }