.trending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding:25px;
  margin-top: 50px;
  flex-direction: column;
  
}
.trending_produts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container_box {
  width: 300px;
  margin: 10px;
  background-color: white;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
 
}


.container_box img {
  width: 250px;
  height: 320px;
  border-radius: 17px;
}

.container_box:hover{
  background-color: whitesmoke;
  opacity: 0.8;
}
/* .trending_category:hover{
  background-color: red;
  z-index: 1000;
} */
.product_name {
  font-family: Droid Sans;
  font-style: bold;
  padding: 10px 0px;
  /* margin-bottom: 10px; */
}
a {
  text-decoration: none;
}
.product_name > div {
width: 100%;
text-align: center;
}

#rating {
  align-self: center;
}

#price {
margin: 0px;
}

@media screen and (max-width: 425px) {
  .container_box {
    width: 130px;
    height: 200px;
  }
  .container_box img {
    width: 100px;
    height: 180px;
    padding: 3px;
  }
  .trending_container {
    padding: 10px;
  }
  .product_name{
    padding: 5px 0px;
    font-size: 16px;
    font-weight: lighter;
  }
  .product_name > div {
    width: 100%;
    text-align: center;
  }
  #price {
    margin: 0px;
  }
}
