.heading-container {
    width: 100%;
    margin-top: 10px;
}

.heading-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f4f4f;
    font-weight: bold;
    flex-direction: row;
    width: 100%;
}

.heading-title b {
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: #272525;
}

.heading-title i {
    margin-right: 0.5em;
}

.heading-title span {
    border: 2px solid rgba(0,0,0,.1);
    padding: 0.3em 0.8em;
}