.image_container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
border-color: silver;
left: 340px ;
top: 9px;

margin-right: 16px;

}

.image_box{
border:1px solid rebeccapurple;
padding: 2px;
width: 100%;
margin: 2px;
border: 1px solid whitesmoke;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
cursor: pointer;
}

.image_box:hover{
  background-color: whitesmoke;
  z-index: 3  ;

}

@media only screen and (max-width: 768px) {

    .image_container{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 40px;
}


.image_box{
  width: 95px;
}

}