.main-footer {
  color: white;
  background-color: black;
  padding-top: 3em;
  display: flex;
  flex-direction: column;

  width: 100%;
}

.footer_row{
  display:flex;
  justify-content: space-around;
}
.col{
  width:fit-content
}
.row {
  display: flex;
   
width: fit-content;
}
.row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 625px) {

  .footer_row{
    flex-direction: column;
    align-items: center;

  }
  .row1 h3{
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
}
