.product_container{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 100px; */
    /* flex-direction: column; */
  

}
.product_container h1{
    letter-spacing: 2px;
    word-spacing: 2px;
}
.product_container_box{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-color: whitesmoke;
}
.product_container_box img{
    margin-top: 10px;
}

.product_container_box:hover{
    background-color: white;

}

@media (max-width:768px){
    .product_container_box{

        text-align: center;
        
        width: 300px;
        height: 450px;
    }
}

@media (max-width:425px){
    .product_container_box{

        text-align: center;
        
        width: 166px;
        height: 290px;
    }
}
@media (max-width:375px){
    .product_container_box{

        text-align: center;
        
        width: 166px;
        height: 290px;
    }
}