.subheader {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.subheader li {
  list-style-type: none;
  padding: 10px 10px;
  color: black;
}

.subheader li:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
  transition: all 0.25  s ease-in-out;
}
.subheader li:hover a {
  color: #0d6efd;
}

a {
  color: black;
}

.dropbtn {
  background-color: whitesmoke;
  color: black;
  padding: 16px;
  font-size: 16px;
  width: 100%;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  width: 100%;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a  {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.mobile-subheader {
  display: none;
}

li {
  list-style-type: none;
  text-align: center;
}

@media (max-width:860px){
  .subheader{
    display: none;
  }
  .mobile-subheader {
    display: block;
  }
}

